/* @import url('https://fonts.cdnfonts.com/css/baloo-da'); */
@import url(../assets/contl.ttf);
@import url(../assets/contb.ttf);
@import url(../assets/contm.ttf);


html {
    background-color: #E4E4E4;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("../assets/mainbg.png");
    background-repeat: repeat-x repeat-y;
}

body {
    margin: 0px;
}



.empty-tile {
    background: #D9D9D9;
    border: 0.3vw solid #B6B6B6;
    border-radius: 2vw;
    height: 9.3vw;
    width: 20vw;
    display: inline-block;
    transition: transform 0.2s;
    background-image: url("../assets/empty.gif");
    background-position:center;
    background-repeat: no-repeat;
    background-size:100% 100%;

    /*Animations*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.empty-tile.fullscreen {
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
}

.empty-tile::before {
    content: "";
    background-image: url("../assets/empty.gif");
    background-position:center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    opacity: 0.75;
}

.empty-tile:hover {
    background: #D9D9D9;
    transform: scale(1.02);
    background-position:center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    outline: none;
    border-color: #509fc6;
    box-shadow: 0 0 10px #509fc6;
}

.start-wrap {
    margin-top: 8vh;
    margin-left: 5vw;
}

.display-wrap {
    margin-top: 1vh;
    margin-left: 5vw;
}

.bottom {
    width: 100vw;
    margin-top: 2vh;
    position: absolute;
}


.wiibubble {
    position: absolute;
    display: inline-block;
    z-index: 100;
    left: 2vw;
    bottom: 3vh;
    width: 10vw;
    cursor: url("../assets/wii-help-ccw.cur"), pointer;
}

.blankbutton {
    position: absolute;
    display: inline-block;
    z-index: 100;
    width: 9vw;
    right: 2vw;
    bottom: 3vh;
    cursor: url("../assets/wii-help-ccw.cur"), pointer;
}

html {
    cursor: url("../assets/wii-pointer-ccw.cur"), auto;
}

.empty-tile {
    cursor: url("../assets/wii-pointer-ccw.cur"), pointer;
}

a {
    cursor: url("../assets/wii-pointer-blue-ccw.cur"), pointer; 
}

.safety-warning {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    background-color: black;
    cursor: url("../assets/wii-pointer-ccw.cur"), pointer;
    
}

.fade {
    opacity: 0;
    background-color: transparent;  
}


.safety-back {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: black;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    transition: background-color 1s linear;
}





/* Expand CODE */
.expand {
    width: 90vw;
    height: 80vh;
    position: absolute;
    z-index: 999;
    background: #D9D9D9;
    border: 0.3vw solid #0d53b1;
    border-radius: 2vw;
    display: inline-block;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.tile-content.fullscreen {
    width: 90vw;
    height: 80vh;
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    display: block;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

.tile-content {
    top: 50%;
    transform: translateY(-90%);
    left: 50%;
    transform: translateX(-50%);
    height: 70vh;
    width: 50vw;
    background: #D9D9D9;
    border: 0.3vw solid #0d53b1;
    display: inline-block;
    background-position:center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    border: 0.7vw solid #B6B6B6;
    border-radius: 3vw;
    /*Animations*/
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;  
}

.option-1 {
    font-size: 3vw;
    text-decoration: none;
    /* font-family: 'Baloo Da'; */
    font-family: 'Continuum';
    color: #313330;
    z-index: 999;
}

.bubble-option:hover {
    transform: scale(1.02);
    cursor: url("../assets/wii-pointer-blue-ccw.cur"), pointer; 

}

.bubble-option-1:hover {
    transform: scale(1.02);
    cursor: url("../assets/wii-pointer-blue-ccw.cur"), pointer; 

}

.bubble-option {
    outline-width: 10vw;
    width: 30vw;
    height: 5vw;
    text-align: center;
    display: inline-block;
    margin-left: 14vw;
    margin-top: 5vh;

    background: #FEFDFF;
    border: 1vh solid #9FBABD;
    border-radius: 12vw;
}

.bubble-option-1 {
    outline-width: 10vw;
    width: 30vw;
    height: 5vw;
    text-align: center;
    display: inline-block;

    background: #FEFDFF;
    border: 1vh solid #9FBABD;
    border-radius: 12vw;
}

.wiiMenu {
    margin-top: 60vh;
    background: url(../assets/mainbg.png), #D9D9D9;
    border-radius: 10vw;
    height: 20vh;
}


.option-2 {
    font-size: 3vw;
    text-decoration: none;
    /* font-family: 'Baloo Da'; */
    font-family: 'Continuum';
    color: #313330;

}

.game-name {
    font-size: 5vw;
    /* font-family: 'Baloo Da'; */
    font-family: 'Continuum';
    color: #2d2d2d;
    text-align: center;
    margin-bottom: 40vh;
    text-shadow: 0.5vw 0.5vw 1vw #ffffff;
}


.nes-content {
    display: block;
    position: relative;
    padding: 5vh;
    bottom: 10vh;
    left: 5vw;
}


.black-screen {
    display: block;
    width: 1000vw;
    height: 1000vh;
    background-color: #000000;
    position: absolute;
    z-index: 990;
    top: 0;
    left: 0;
}