html {
    background-color: black;
}

.player-style {
    height: 100vh;
    width: 100vw;
}

html {
    cursor: url("../assets/wii-pointer-ccw.cur"), auto;
}

.empty-tile {
    cursor: url("../assets/wii-pointer-ccw.cur"), pointer;
}

a {
    cursor: url("../assets/wii-pointer-blue-ccw.cur"), pointer; 
}