* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vh;
    background-color: rgb(100, 99, 99);
    overflow: hidden;
} 

p {
    color: #323330;
    font-size: 2vh;
}
h1 {
    color: #323330;
    font-size: 5vh;
}


.drop-targets {
    align-items: center;
    display: inline-block;
    margin: 1vh 0;
}

.box {
    height: 10vw;
    width: 10vw;
    border: solid 0.4vh #ccc;
    margin: 0.8vh;
    border-radius: 1vh;

    /* align items in the box */
    display: inline-block;

    align-items: center;
    justify-content: center;

}


.drag-over {
    border: dashed 3px rgb(0, 0, 0);
}

.item {
    height: 4vw;
    width: 4vw;
    background-color: #4780d6;
    border-radius: 1vh;
    margin-top: 3vw;
    margin-left: 3vw;
}

.slide {
    width: 90vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 200vw;
   
  }
  .one {
  }
  .two {
  }
  .three {
  }
  .four {
  }


  /* The container */
.container-1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  }
  
  /* Hide the browser's default radio button */
  .container-1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-1 input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-1:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-1 .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

.align-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 20vw;
    text-align: right;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

h3 {
    padding: 1vh;
}